    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About This Project</h2>
                <p>As a new designer, sometimes experience is not going to make the cut to get the job I want.</p>
                <p>This is why I have created this project for my Cisco Meraki job application.</p>
                <p>I want to demonstrate that I am a capable and dedicated individual and that, even though I don't have the years of experience, the heart and passion are definitely there.</p>
                <p>For this project, I decided to do a makeover on the Cisco Meraki logo as well as your Network Dashboard.</p>

            </div>
            <br><br>
            <div class="col-lg-8 col-lg-offset-2">
                <p>As a first step, I researched trends in design that could be used for this makeover.</p>
                <p>Then I mapped out the ideas in a diagram and made notes of what I wanted to use.</p>
              </div>
             <div class="center">
               <center><img src={{site.baseurl}}/img/merakimap1_06.png alt="Map of the thought process." style="
                 width: 90%;
                 border-radius: 3.5%;">
                 </center>
            </div>

            <br><br>
            <div class="col-lg-8 col-lg-offset-2">
              <p>After a few rough drafts, the whole process yielded the results bellow.</p>
              <p>A new logo for Cisco Meraki that puts the main company (Cisco) and the branch (Meraki) together as opposed to separate things.</p>
              <p>A cleaner, more modern dashboard with humanist and modern typefaces for ease-of-reading and bright colors for accents.</p>
            </div>

            <br><br>
            <div class="center">
              <center><img src={{site.baseurl}}/img/merakidashboard1.png alt="Result 1." style="
                width: 100%;
                border-radius: 3.5%;">
              </center>
            </div>

            <br><br>
            <div class="center">
              <center><img src={{site.baseurl}}/img/merakidashboard2.png alt="Result 2." style="
                width: 100%;
                border-radius: 3.5%;">
              </center>
            </div>

        </div>
    </section>
